[Unit]
Description=Keep Teams Active
After=graphical.target

[Service]
Type=simple
ExecStart=/home/YOUR_USER/keep_teams_active.sh
Restart=always

[Install]
WantedBy=default.target
